<div class="view-content">
	<h1>New Entry</h1>
	<h3>New Entry</h3>
	<form ng-submit="newEntry()">
		<input class="form-control" type="text" placeholder="Full Name" ng-model="details.name" required /><br />
		<input class="form-control" type="email" placeholder="Email" ng-model="details.email" required /><br />
		<input class="form-control" type="password" placeholder="Password" ng-model="details.password" required /><br />
		<input type="submit" class="btn btn-info btn-lg" value="Register" />
	</form>
</div>